body{
    width: 2420px;
    height: 1139px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 59.90%, rgba(14, 14, 14, 0.00) 100%);
}
.navbar{
    width: 2420px;
    height: 1139px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 59.90%, rgba(14, 14, 14, 0.00) 100%);
}
.con0{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.con0-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.img0{
    display: inline-block;
    width: 200px;
    height: 60.811px;
    background: url(techfriar.png);
    background-size: cover;
    background-position: center;
}
